h1{
  color:red
}



#checker-board {
  height: 43rem;
  width: 43rem;
  background-color: #555555;
  border: 10px solid rgba(0,0,0,0.65);
    border-radius: 10px;

}
#mainboard{
  max-width: 43rem;
}


.square {
    width: 12.5%;
    height: 12.5%;
    float: left;
    }
.square:hover {
  z-index: 1;
  transition: transform 0.2s;
  outline: 1px solid transparent;
  transform: scale(1.1) rotate(2deg);
  filter: drop-shadow(7px 7px 5px #111111);
}
    .dark {
      background-color: rgba(0,0,0,0.25);
      background-size: cover;
     }
    .light {
      background-color: rgba(255,255,255,0.25);
      background-size: cover;
    }

    .highlighted{
      background: yellow;
      width: 12.5%;
      height: 12.5%;
      }

.checker {
  width: 100%;
  height: 100%;
  position: relative;
  }
    .red {
      background-image: url(./assets/pngkey.png);
      background-size: cover;
      background-position: bottom;
    }
    .blue {
      background-image: url(./assets/pngkeyb.png);
      background-size: cover;
      background-position: bottom;
    }

    .red-queen {
     /* background-image: url(../assets/pawn_red_queen.png);*/
      background-size: cover;
      background-position: bottom;
    }
    .blue-queen {
      /*background-image: url(../assets/pawn_blue_queen.png);*/
      background-size: cover;
      background-position: bottom;
}
